body {
    margin: 0 auto;
    width: 1000px;
    background: #2acd71 url(fontel.png) no-repeat 1000px 230px;
}
.bf {
    background-color:white;
    width:2000px;
    height:1000px;
    position:relative;
    bottom:200px;
    right:420px;
    z-index:1;
}
.FA {
    font-family:sans-serif;
    font-weight:bold ;
    font-style:italic;
    font-size: 1.3em;
    color:white;
    cursor:pointer;
    margin-right:240px;
    box-shadow: 2px;
}
ul {
    list-style-type:none;
}
.nav {
    display: inline-block;
}
a {
    text-decoration: none;
    display:inline-block;
}
.menu {
    color:white;
    padding-left:40px;
}
.GA {
    margin-left:40px;
    background-color: white;
    width: 120px;
    height: 24px;
    border: white solid 3px;
    border-radius: 20px;
    color: #2acd71;
    cursor: pointer;
    font-weight: bold;
    text-align:center;
    padding-top:6px;
}
.GA:hover {
    background-color: whitesmoke;
    border: whitesmoke solid 3px;
}
h1 {
    margin-top:240px;
    font-family:Arial;
    font-size: 2.6em;
    font-weight: lighter;
    color: whitesmoke;
}
.bt {
    font-weight:bold;
}
.text {
    line-height:1.5;
    color:whitesmoke;
    margin-bottom:40px;
    font-weight:100;
}
.nul {
    margin: 0;
    padding: 0;
}
.bsr {
    padding-left:4px;
    width: 120px;
    height: 35px;
    background-color: #2acd71;
    border: 2px white solid;
    border-radius: 7px;
    line-height: 0.85;
    margin-right:20px;
}
.msh {
    font-size:0.5em;
    color:white;

}
.play {
    color: white;
    background:url(googleplay.png);
    width: 28px;
    height: 28px;
    background-repeat:no-repeat;
    background-size:100%;
    margin-top:3px;
}
.tel {
    color: white;
}
.dib {
    display:inline-block;
}
.w {
    color:white;
}
.va {
    vertical-align:top;
}
.telfon {
    
    width:258px;
    height:465px;
    background-size:100%;
    background-repeat:no-repeat;
    position:relative;
    z-index:3;

}

.banan {
    background-image: url(banan.png);
    width: 100px;
    height: 100px;
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
    z-index: 3;
    bottom: 800px;
    left: 120px;
    filter: blur(1.5px);
    transform: rotate(60deg);
}
.fruct {
    background-image: url(fruct.png);
    width: 85px;
    height: 85px;
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
    z-index: 3;
    bottom: 740px;
    right: 325px;
}
.pomidor {
    background-image: url(pomidor.png);
    width: 200px;
    height: 200px;
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
    z-index: 3;
    bottom: 350px;
    left: 650px;
    transform: rotate(30deg);
    filter: blur(1.5px);
}
.club {
    background-image: url(club.png);
    width: 85px;
    height: 100px;
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
    z-index: 3;
    bottom: 165px;
    left: 70px;
    transform: rotate(-30deg);
    filter: blur(1.5px);
}
.apple {
    background-image: url(apple.png);
    width: 85px;
    height: 150px;
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
    z-index: 4;
    bottom: 450px;
    right: 930px;
    transform: rotate(45deg);
    filter: blur(1.5px);
}
.cherry {
    background-image: url(cherry.png);
    width: 40px;
    height: 100px;
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
    z-index: 2;
    left: 175px;
    bottom: 220px;
    filter: blur(1.5px);
}